In [5]:

import seaborn as sns
import missingno as msno
from datetime import datetime
import statsmodels.api as sm
import os
import pandas as pd
import json
import numpy as np
import pickle
import ast
pd.set_option('display.max_columns', None)

In [6]:

# archivo a entrecruzar por id de usuario
df_y1=pd.read_parquet('/content/drive/MyDrive/P_F_H/google_concat-3 (1).parquet')
df_y1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22052 entries, 0 to 22051
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            22052 non-null  object
 1   address         22052 non-null  object
 2   gmap_id         22052 non-null  object
 3   description     22052 non-null  object
 4   latitude        22052 non-null  float64
 5   longitude       22052 non-null  float64
 6   category        22052 non-null  object
 7   avg_rating      22052 non-null  float64
 8   num_of_reviews  22052 non-null  int64
 9   MISC            22052 non-null  object
 10  user_id         22052 non-null  object
 11  time            22052 non-null  datetime64[ns]
 12  rating          22052 non-null  int64
 13  text            10192 non-null  object
 14  hour            22052 non-null  object
 15  date            22052 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(2), object(10)
memory usage: 2.7+ MB

In [4]:
df_y1.columns

Index(['name', 'address', 'gmap_id', 'description', 'latitude', 'longitude',
       'category', 'avg_rating', 'num_of_reviews', 'MISC', 'user_id', 'time',
       'rating', 'text', 'hour', 'date'],
      dtype='object')

In [7]:
df_y1['avg_rating'].count()

22052

In [21]:
len(df_y1.address.unique())

36

In [31]:
df_y1['longitude']

0       -73.955392
1       -73.955392
2       -73.955392
3       -73.955392
4       -73.955392
           ...
22047   -73.999704
22048   -73.999704
22049   -73.999704
22050   -73.999704
22051   -73.999704
Name: longitude, Length: 22052, dtype: float64

In [27]:
df_y1.address.unique()

array(["McDonald's, 1000 Palisades Center Dr, West Nyack, NY 10994",
       "McDonald's, 341 5th Ave, New York, NY 10016",
       "McDonald's, 90-15 Queens Blvd, Queens, NY 11373",
       "McDonald's, 3 Main St, Delhi, NY 13753",
       "McDonald's, 650 Rte 9W, Highland, NY 12528",
       "McDonald's, 9505 57th Ave, Queens, NY 11373",
       "McDonald's, 132 Delaware Ave, Delmar, NY 12054, United States",
       "McDonald's, 428 Knickerbocker Ave, Brooklyn, NY 11237, United States",
       "McDonald's, 4259 Broadway, New York, NY 10033, United States",
       "McDonald's, 52 Fulton St, New York, NY 10038, United States",
       "McDonald's, 3120 Niagara Falls Blvd, Amherst, NY 14228, United States",
       "McDonald's, 3267 Richmond Ave, Staten Island, NY 10312",
       "McDonald's, 2660 Brickyard Rd, Warners, NY 13164",
       "McDonald's, 2870 3rd Ave., Bronx, NY 10451, United States",
       "McDonald's, 2410 Coney Island Ave, Brooklyn, NY 11223, United States",
       "McDonald's, 265 NY-59, Nanuet, NY 10954, United States",
       "McDonald's, 1403 NY-300, Newburgh, NY 12550, United States",
       "McDonald's, 501 NY-17M, Monroe, NY 10950",
       "McDonald's, 481 NY-211 E, Middletown, NY 10940, United States",
       "McDonald's, 376 Feura Bush Rd, Glenmont, NY 12077, United States",
       "McDonald's, 216-07 Linden Blvd, Queens, NY 11411, United States",
       "McDonald's, 160 Broadway, New York, NY 10038, United States",
       "McDonald's, 1380 Broadway, Brooklyn, NY 11221, United States",
       "McDonald's, 819 Granville Payne Ave, Brooklyn, NY 11207, United States",
       "McDonald's, 57 Empire Blvd, Brooklyn, NY 11225, United States",
       "McDonald's, 701 Utica Ave, Brooklyn, NY 11203, United States",
       "McDonald's, 121 Merrick Rd, Lynbrook, NY 11563, United States",
       "McDonald's, 166-05 Rockaway Blvd, Queens, NY 11434, United States",
       "McDonald's, 192 Corinth Rd, Queensbury, NY 12804, United States",
       "McDonald's, 101 E 170th St, Bronx, NY 10456, United States",
       "McDonald's, 1188 6th Ave, New York, NY 10036, United States",
       "McDonald's, 1200 Nepperhan Ave, Yonkers, NY 10703, United States",
       "McDonald's, 107 7th N St, Liverpool, NY 13088",
       "McDonald's, 982 Southern Blvd, Bronx, NY 10459",
       "McDonald's, 735 9th Ave, New York, NY 10019",
       "McDonald's, 427 10th Ave, New York, NY 10001"], dtype=object)

In [24]:
df_y1[['name','address','latitude','longitude']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22052 entries, 0 to 22051
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   name       22052 non-null  object
 1   address    22052 non-null  object
 2   latitude   22052 non-null  float64
 3   longitude  22052 non-null  float64
dtypes: float64(2), object(2)
memory usage: 689.2+ KB

In [13]:
df_y1.to_csv("Lista_McDonald's_map.csv", index=False)

In [15]:
df_y1.to_excel("Lista_McDonald's_map.xlsx", index=False)

**Funciones usadas en Api**
---

In [ ]:
# Devuelve la distancia desde el punto origen elegido, hasta los puntos
# o coordenadas de los locales en el dataset estudiado
from numpy import sin, cos, arccos, pi, round

def rad2deg(radians):
    degrees = radians * 180 / pi
    return degrees

def deg2rad(degrees):
    radians = degrees * pi / 180
    return radians

def getDistanceBetweenPointsNew(latitude1, longitude1, latitude2, longitude2, unit = 'miles'):

    theta = longitude1 - longitude2

    distance = 60 * 1.1515 * rad2deg(
        arccos(
            (sin(deg2rad(latitude1)) * sin(deg2rad(latitude2))) +
            (cos(deg2rad(latitude1)) * cos(deg2rad(latitude2)) * cos(deg2rad(theta)))
        )
    )

    if unit == 'miles':
        return round(distance, 2)
    if unit == 'kilometers':
        return round(distance * 1.609344, 2)

Elijo la ubicacion del estadio Madison square Garden de nueva York

In [ ]:
#print('Ingrese franquicia Objetivo')
fran="McDonald's"
df_sub=df_metdata[df_metdata['name']=="McDonald's"]
#print('Ingreso ubicacion objetivo:')
pos="4 Pennsylvania Plaza, New York, NY 10001, Estados Unidos"
# coordenadas de pos= 40.7505857487512, -73.9934547975895
# df_sub.longitude ## a modo ejemplo

In [ ]:
latitude1=40.7505857487512
longitude1=-73.9934547975895
df_sub['distancia']=''
for i in df_sub.index:
  latitude2=df_sub.latitude[i]
  #print(latitude2)
  longitude2=df_sub.longitude[i]
  #print(longitude2)
  d=getDistanceBetweenPointsNew(latitude1, longitude1, latitude2, longitude2, unit = 'miles')
  #print(d)
  df_sub.distancia[i]=d

df_sub.sort_values('distancia', inplace=True)
df_sub.url
#df_sub.url[140017]

<ipython-input-73-62232d6d4175>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sub['distancia']=''
<ipython-input-73-62232d6d4175>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sub.distancia[i]=d
<ipython-input-73-62232d6d4175>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sub.sort_values('distancia', inplace=True)

6690      https://www.google.com/maps/place//data=!4m2!3...
33263     https://www.google.com/maps/place//data=!4m2!3...
6679      https://www.google.com/maps/place//data=!4m2!3...
33252     https://www.google.com/maps/place//data=!4m2!3...
69334     https://www.google.com/maps/place//data=!4m2!3...
197519    https://www.google.com/maps/place//data=!4m2!3...
128968    https://www.google.com/maps/place//data=!4m2!3...
64600     https://www.google.com/maps/place//data=!4m2!3...
137130    https://www.google.com/maps/place//data=!4m2!3...
246932    https://www.google.com/maps/place//data=!4m2!3...
151027    https://www.google.com/maps/place//data=!4m2!3...
173549    https://www.google.com/maps/place//data=!4m2!3...
140636    https://www.google.com/maps/place//data=!4m2!3...
172225    https://www.google.com/maps/place//data=!4m2!3...
249021    https://www.google.com/maps/place//data=!4m2!3...
238150    https://www.google.com/maps/place//data=!4m2!3...
34137     https://www.google.com/maps/place//data=!4m2!3...
7564      https://www.google.com/maps/place//data=!4m2!3...
105835    https://www.google.com/maps/place//data=!4m2!3...
156473    https://www.google.com/maps/place//data=!4m2!3...
42831     https://www.google.com/maps/place//data=!4m2!3...
16258     https://www.google.com/maps/place//data=!4m2!3...
108416    https://www.google.com/maps/place//data=!4m2!3...
263786    https://www.google.com/maps/place//data=!4m2!3...
190704    https://www.google.com/maps/place//data=!4m2!3...
31585     https://www.google.com/maps/place//data=!4m2!3...
5012      https://www.google.com/maps/place//data=!4m2!3...
236496    https://www.google.com/maps/place//data=!4m2!3...
140017    https://www.google.com/maps/place//data=!4m2!3...
Name: url, dtype: object