In [6]:
import numpy as np
import pandas as pd
import os
import seaborn as sns
import missingno as msno
import matplotlib.pyplot as plt
from datetime import datetime
import statsmodels.api as sm
import  pickle

In [7]:

#El enfoque es la diferencia entre RB y R, RB es abierta binario, R es un archivo de texto abierto
f=open('/content/drive/MyDrive/P_F_H/business.pkl','rb')
data = pickle.load(f)

In [3]:
print(data)

                   business_id                      name  \
0       Pns2l4eNsfO8kk83dixA6A  Abby Rappoport, LAC, CMQ
1       mpf3x-BjTdTEA3yCZrAYPw             The UPS Store
2       tUFrWirKiKi_TAnsVWINQQ                    Target
3       MTSW4McQd7CbVtyjqoe9mw        St Honore Pastries
4       mWMc6_wTdE0EUBKIGXDVfA  Perkiomen Valley Brewery
...                        ...                       ...
150341  IUQopTMmYQG-qRtBk-8QnA              Binh's Nails
150342  c8GjPIOTGVmIemT7j5_SyQ      Wild Birds Unlimited
150343  _QAMST-NrQobXduilWEqSw         Claire's Boutique
150344  mtGm22y5c2UHNXDFAjaPNw  Cyclery & Fitness Center
150345  jV_XOycEzSlTx-65W906pg                   Sic Ink

                                address           city state postal_code  \
0                1616 Chapala St, Ste 2  Santa Barbara   NaN       93101
1       87 Grasso Plaza Shopping Center         Affton   NaN       63123
2                  5255 E Broadway Blvd         Tucson   NaN       85711
3                           935 Race St   Philadelphia    CA       19107
4                         101 Walnut St     Green Lane    MO       18054
...                                 ...            ...   ...         ...
150341                3388 Gateway Blvd       Edmonton    IN     T6J 5H2
150342               2813 Bransford Ave      Nashville    DE       37204
150343           6020 E 82nd St, Ste 46   Indianapolis    AB       46250
150344                     2472 Troy Rd   Edwardsville    AB       62025
150345            238 Apollo Beach Blvd   Apollo beach    TN       33572

         latitude   longitude stars review_count  ... state postal_code  \
0       34.426679 -119.711197   5.0            7  ...   NaN         NaN
1       38.551126  -90.335695   3.0           15  ...   NaN         NaN
2       32.223236 -110.880452   3.5           22  ...   NaN         NaN
3       39.955505  -75.155564   4.0           80  ...   NaN         NaN
4       40.338183  -75.471659   4.5           13  ...   NaN         NaN
...           ...         ...   ...          ...  ...   ...         ...
150341  53.468419 -113.492054   3.0           13  ...   NaN         NaN
150342  36.115118  -86.766925   4.0            5  ...   NaN         NaN
150343  39.908707  -86.065088   3.5            8  ...   NaN         NaN
150344  38.782351  -89.950558   4.0           24  ...   NaN         NaN
150345  27.771002   -82.39491   4.5            9  ...   NaN         NaN

       latitude longitude stars review_count is_open attributes categories  \
0           NaN       NaN   NaN          NaN     NaN        NaN        NaN
1           NaN       NaN   NaN          NaN     NaN        NaN        NaN
2           NaN       NaN   NaN          NaN     NaN        NaN        NaN
3           NaN       NaN   NaN          NaN     NaN        NaN        NaN
4           NaN       NaN   NaN          NaN     NaN        NaN        NaN
...         ...       ...   ...          ...     ...        ...        ...
150341      NaN       NaN   NaN          NaN     NaN        NaN        NaN
150342      NaN       NaN   NaN          NaN     NaN        NaN        NaN
150343      NaN       NaN   NaN          NaN     NaN        NaN        NaN
150344      NaN       NaN   NaN          NaN     NaN        NaN        NaN
150345      NaN       NaN   NaN          NaN     NaN        NaN        NaN

       hours
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
...      ...
150341   NaN
150342   NaN
150343   NaN
150344   NaN
150345   NaN

[150346 rows x 28 columns]

In [4]:
df = pd.read_pickle("/content/drive/MyDrive/P_F_H/business.pkl")

In [5]:
df

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,...,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,Pns2l4eNsfO8kk83dixA6A,"Abby Rappoport, LAC, CMQ","1616 Chapala St, Ste 2",Santa Barbara,NaN,93101,34.426679,-119.711197,5.0,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,mpf3x-BjTdTEA3yCZrAYPw,The UPS Store,87 Grasso Plaza Shopping Center,Affton,NaN,63123,38.551126,-90.335695,3.0,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,tUFrWirKiKi_TAnsVWINQQ,Target,5255 E Broadway Blvd,Tucson,NaN,85711,32.223236,-110.880452,3.5,22,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MTSW4McQd7CbVtyjqoe9mw,St Honore Pastries,935 Race St,Philadelphia,CA,19107,39.955505,-75.155564,4.0,80,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mWMc6_wTdE0EUBKIGXDVfA,Perkiomen Valley Brewery,101 Walnut St,Green Lane,MO,18054,40.338183,-75.471659,4.5,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
150341,IUQopTMmYQG-qRtBk-8QnA,Binh's Nails,3388 Gateway Blvd,Edmonton,IN,T6J 5H2,53.468419,-113.492054,3.0,13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150342,c8GjPIOTGVmIemT7j5_SyQ,Wild Birds Unlimited,2813 Bransford Ave,Nashville,DE,37204,36.115118,-86.766925,4.0,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150343,_QAMST-NrQobXduilWEqSw,Claire's Boutique,"6020 E 82nd St, Ste 46",Indianapolis,AB,46250,39.908707,-86.065088,3.5,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150344,mtGm22y5c2UHNXDFAjaPNw,Cyclery & Fitness Center,2472 Troy Rd,Edwardsville,AB,62025,38.782351,-89.950558,4.0,24,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
150345,jV_XOycEzSlTx-65W906pg,Sic Ink,238 Apollo Beach Blvd,Apollo beach,TN,33572,27.771002,-82.39491,4.5,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150346 entries, 0 to 150345
Data columns (total 28 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   business_id   150346 non-null  object
 1   name          150346 non-null  object
 2   address       150346 non-null  object
 3   city          150346 non-null  object
 4   state         150343 non-null  object
 5   postal_code   150346 non-null  object
 6   latitude      150346 non-null  object
 7   longitude     150346 non-null  object
 8   stars         150346 non-null  object
 9   review_count  150346 non-null  object
 10  is_open       150346 non-null  object
 11  attributes    136602 non-null  object
 12  categories    150243 non-null  object
 13  hours         127123 non-null  object
 14  business_id   5 non-null       object
 15  name          5 non-null       object
 16  address       5 non-null       object
 17  city          5 non-null       object
 18  state         5 non-null       object
 19  postal_code   5 non-null       object
 20  latitude      5 non-null       object
 21  longitude     5 non-null       object
 22  stars         5 non-null       object
 23  review_count  5 non-null       object
 24  is_open       5 non-null       object
 25  attributes    5 non-null       object
 26  categories    5 non-null       object
 27  hours         5 non-null       object
dtypes: object(28)
memory usage: 33.3+ MB

In [ ]:
 df.to_csv("example.csv", index=False)