# **ETl Yelp**

In [2]:
import numpy as np
import pandas as pd
import os
import seaborn as sns
import missingno as msno
import matplotlib.pyplot as plt
from datetime import datetime
import statsmodels.api as sm

In [ ]:
df_Y2=pd.read_json(r'/content/drive/MyDrive/P_F_H/review.json',lines=True)
df_Y2.head(2)
# genera error no es posible cargar

In [5]:
df_Y4=pd.read_json(r'/content/drive/MyDrive/P_F_H/checkin.json',lines=True)
df_Y4.head(6)
# Archivo con datos que posiblemente no se usen

              business_id                                               date
0  ---kPU91CF4Lq2-WlRu9Lw  2020-03-13 21:10:56, 2020-06-02 22:18:06, 2020...
1  --0iUa4sNDFiZFrAdIWhZQ  2010-09-13 21:43:09, 2011-05-04 23:08:15, 2011...
2  --30_8IhuyMHbSOcNWd6DQ           2013-06-14 23:29:17, 2014-08-13 23:20:22
3  --7PUidqRWpRSpXebiyxTg  2011-02-15 17:12:00, 2011-07-28 02:46:10, 2012...
4  --7jw19RH9JKXgFohspgQw  2014-04-21 20:42:11, 2014-04-28 21:04:46, 2014...
5  --8IbOsAAxjKRoYsBFL-PA  2015-06-06 01:03:19, 2015-07-29 16:50:58, 2015...

In [ ]:
df_Y4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 131930 entries, 0 to 131929
Data columns (total 2 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   business_id  131930 non-null  object
 1   date         131930 non-null  object
dtypes: object(2)
memory usage: 2.0+ MB

In [7]:
# Archivo generado anteriromente ,seria usado para realizar el entrecruzamiento de los datos
df_y1=pd.read_parquet('/content/drive/MyDrive/P_F_H/user_y.parquet')
df_y1.head(2)

,user_id,review_count,yelping_since,elite,average_stars
0,qVc8ODYU5SZjKXVBgXdI7w,585,2007-01-25 16:47:26,2007,3.91
1,j14WgRoU_-2ZE1aw1dXrJg,4333,2009-01-25 04:35:42,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2...",3.74

In [3]:
df_Y3=pd.read_json(r'/content/drive/MyDrive/P_F_H/tip.json',lines=True)
df_Y3.head(6)
# archivo a entrecruzar por id de usuario

,user_id,business_id,text,date,compliment_count
0,AGNUgVwnZUey3gcPCJ76iw,3uLgwr0qeCNMjKenHJwPGQ,Avengers time with the ladies.,2012-05-18 02:17:21,0
1,NBN4MgHP9D3cw--SnauTkA,QoezRbYQncpRqyrLH6Iqjg,They have lots of good deserts and tasty cuban...,2013-02-05 18:35:10,0
2,-copOvldyKh1qr-vzkDEvw,MYoRNLb5chwjQe3c_k37Gg,It's open even when you think it isn't,2013-08-18 00:56:08,0
3,FjMQVZjSqY8syIO-53KFKw,hV-bABTK-glh5wj31ps_Jw,Very decent fried chicken,2017-06-27 23:05:38,0
4,ld0AperBXk1h6UbqmM80zw,_uN0OudeJ3Zl_tf6nxg5ww,Appetizers.. platter special for lunch,2012-10-06 19:43:09,0
5,trf3Qcz8qvCDKXiTgjUcEg,7Rm9Ba50bw23KTA8RedZYg,"Chili Cup + Single Cheeseburger with onion, pi...",2012-03-13 04:00:52,0

In [8]:
df_Y3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 908915 entries, 0 to 908914
Data columns (total 5 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   user_id           908915 non-null  object
 1   business_id       908915 non-null  object
 2   text              908915 non-null  object
 3   date              908915 non-null  datetime64[ns]
 4   compliment_count  908915 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 34.7+ MB

In [10]:
# Realizo union de datos
dat_yelp_union=pd.merge(df_y1,df_Y3, on='user_id')
dat_yelp_union

,user_id,review_count,yelping_since,elite,average_stars,business_id,text,date,compliment_count
0,j14WgRoU_-2ZE1aw1dXrJg,4333,2009-01-25 04:35:42,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2...",3.74,DPtdBtLp6ng9cAB9_rzB6g,The second floor in the back of Tootsie's has ...,2018-10-16 14:58:22,0
1,j14WgRoU_-2ZE1aw1dXrJg,4333,2009-01-25 04:35:42,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2...",3.74,JVDHxMnKjif8XdXVFWiClg,Happy hour runs 6-8pm daily.,2019-07-20 10:20:31,0
2,j14WgRoU_-2ZE1aw1dXrJg,4333,2009-01-25 04:35:42,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2...",3.74,FQ_QUyrwtnaEdxUxruZkXg,Event photos are available in a matter of days.,2019-10-19 17:48:08,0
3,j14WgRoU_-2ZE1aw1dXrJg,4333,2009-01-25 04:35:42,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2...",3.74,ytynqOUb3hjKeJfRj5Tshw,There's not a well-known or renowned cheeseste...,2019-08-27 14:13:05,0
4,j14WgRoU_-2ZE1aw1dXrJg,4333,2009-01-25 04:35:42,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2...",3.74,dYYkzkiAQoOtRjdR0kcspw,Free street parking. Remove all valuables from...,2018-10-23 14:28:05,0
...,...,...,...,...,...,...,...,...,...
908910,2GTi2auMvTWFxcWgTMwBYA,1,2018-02-12 16:05:54,,5.00,Ylc02u7HhDj0mnxeGt0y5Q,Very high quality sushi! All you can eat and n...,2019-08-10 00:13:17,0
908911,2GTi2auMvTWFxcWgTMwBYA,1,2018-02-12 16:05:54,,5.00,z1hseN3evY0VLlFuQbkm3Q,Mac and cheese grilled cheese with tomato soup...,2018-07-15 20:57:20,0
908912,uy-cR58Bf3t7amuisRT61A,6,2016-01-08 23:38:03,,3.71,9Uczm0SLoHhopacyKf3-1g,"Mediocre service, not worth nasty treatment by...",2016-10-22 05:28:58,0
908913,uyKAXuFGumalDTwdm3sp5g,3,2016-07-03 00:31:19,,4.67,EQ-TZ2eeD_E0BHuvoaeG5Q,Good food,2018-04-24 15:01:59,0
908914,Ea2Ik9OLTD5p9VvL_paKag,2,2014-08-24 23:43:58,,3.67,4j6MDdLfrxOG0WMwt65zrg,Don't shop here for makeup. Ever. Ulta or Seph...,2017-04-01 01:57:07,0

In [11]:
dat_yelp_union.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 908915 entries, 0 to 908914
Data columns (total 9 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   user_id           908915 non-null  object
 1   review_count      908915 non-null  int64
 2   yelping_since     908915 non-null  object
 3   elite             908915 non-null  object
 4   average_stars     908915 non-null  float64
 5   business_id       908915 non-null  object
 6   text              908915 non-null  object
 7   date              908915 non-null  datetime64[ns]
 8   compliment_count  908915 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(2), object(5)
memory usage: 69.3+ MB

In [14]:
dat_yelp_union.drop(['elite','compliment_count'], axis=1,inplace=True)

In [17]:
dat_yelp_union.head(3)

,user_id,review_count,yelping_since,average_stars,business_id,text,date
0,j14WgRoU_-2ZE1aw1dXrJg,4333,2009-01-25 04:35:42,3.74,DPtdBtLp6ng9cAB9_rzB6g,The second floor in the back of Tootsie's has ...,2018-10-16 14:58:22
1,j14WgRoU_-2ZE1aw1dXrJg,4333,2009-01-25 04:35:42,3.74,JVDHxMnKjif8XdXVFWiClg,Happy hour runs 6-8pm daily.,2019-07-20 10:20:31
2,j14WgRoU_-2ZE1aw1dXrJg,4333,2009-01-25 04:35:42,3.74,FQ_QUyrwtnaEdxUxruZkXg,Event photos are available in a matter of days.,2019-10-19 17:48:08

In [20]:
dat_yelp_union["text"]=dat_yelp_union["text"].astype('string')

In [21]:
dat_yelp_union["user_id"]=dat_yelp_union["user_id"].astype('string')

In [22]:
dat_yelp_union["business_id"]=dat_yelp_union["business_id"].astype('string')

In [24]:
dat_yelp_union["yelping_since"] = pd.to_datetime(dat_yelp_union["yelping_since"], format='%Y-%m-%d')
#dat_yelp_union['yelping_since'] = pd.to_datetime (dat_yelp_union['yelping_since'])

In [25]:
dat_yelp_union.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 908915 entries, 0 to 908914
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   user_id        908915 non-null  string
 1   review_count   908915 non-null  int64
 2   yelping_since  908915 non-null  datetime64[ns]
 3   average_stars  908915 non-null  float64
 4   business_id    908915 non-null  string
 5   text           908915 non-null  string
 6   date           908915 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(1), int64(1), string(3)
memory usage: 55.5 MB

In [19]:
dat_yelp_union.to_parquet('user_buss_Y.parquet', index=False, compression='gzip')